@use '../abstracts/variables' as *;

#users {
    display: flex;
    flex-wrap: wrap;
}

.user {
    background: $users-background;
    display: flex;
    width: 300px;
    margin: 10px;
    padding: 10px;
    
}

.user ul {
    list-style: none;
}
