@use '../abstracts/variables' as *;

html {
    box-sizing: border-box;
    font-size: $root-font-size;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    color: $body-color;
    background: $body-background;
    display: flex;
    flex-direction: column;
    padding: $nav-offset 20px 20px 20px;
    font-family: $font-family;
    line-height: 1.5;
}

@media (orientation: portrait) {
    body {
        height: -moz-fit-content;
        height: fit-content;
    }
}
