@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$font-family: "Roboto Mono", monospace;
$root-font-size: 14px;

$nav-offset: 30px;

$color-1: #333;
$color-2: #bbb;
$color-3: #ddd;
$color-4: #eee;
$strong: #940000;
$anchor: #0395f0;
