@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$font-family: "Roboto Mono", monospace;
$root-font-size: 14px;

$nav-offset: 30px;

$nav-color: #333;
$nav-background: #eee;
$body-color: #333;
$body-background: white;
$button-color: white;
$button-background: #f44336;
$button-background-hover: red;
$users-background: #f4f4f4;